.section-title-wrap {
    .text-color-primary {
        color: #00a3a5;
    }
    .section-sub-title {
        color: $gray-400;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
