@use "sass:math";


.header {
    z-index: 9;
    position: relative;
    
    .header-area {
        border-color: #e4e8f6;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
    }

    .header-top-wrap {
        border-bottom: 1px solid $border-gray-200;

        .header-top-message {
            padding: $spacing-unit + 2 0px;
            text-align: center;
            font-size: 14px;
            margin: 0px;
        }
    }

    .container {
        max-width: 1380px;
    }

    &__wrap {
        @include flex-between-center;

        .rs-menu-area {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .header__toggle {
            display: none;
            background: none;
            border: none;
            color: $secondary-color;
            font-size: 1.5rem;
            cursor: pointer;
            padding: 0px;

            .mobile-navigation-icon {
                width: 40px;
                height: 40px;
                @include flex-center-center;
            }
        }
    }

    &__logo {
        padding: $spacing-unit 0px;

        a img {
            width: 230px;
        }
    }

    .header__nav {
        >.header__nav-list {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            >.header__nav-item {
                margin: 0px 16px;
                position: relative;

                >a {
                    padding: 26px 4px;
                    @include flex-center-center;
                    gap: 2px;
                    color: $bs-black;
                    font-weight: 500;
                    position: relative;

                    .DownIcon {
                        font-size: 18px;
                    }

                    &::before {
                        content: "";
                        width: 0;
                        height: 3px;
                        bottom: 0;
                        position: absolute;
                        left: 0;
                        background-color: $primary-color;
                        @include transition(0.3s);
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                            left: 0;
                        }
                    }
                }

                &.active {
                    a {
                        &::before {
                            width: 100%;
                            left: 0;
                        }
                    }
                }

                .sub-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    box-shadow: 0 2px 29px rgba(0, 0, 0, .05);
                    border-bottom: 3px solid #00a3a5;
                    background-color: #fff;
                    transform: translateY(50px);
                    transition: all .7s cubic-bezier(.645, .045, .355, 1);
                    transition-delay: .2s;
                    transition-duration: .4s;
                    visibility: hidden;
                    opacity: 0;
                    min-width: 286px;
                    padding: 20px 0;
                    z-index: 9;

                    .menu-item {
                        display: block;
                        padding: 5px 30px;
                        transition: all .7s cubic-bezier(.645, .045, .355, 1);

                        a {
                            color: #ababab;
                            font-weight: 400;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                        &.active a{
                            color: $primary-color;
                        }
                    }
                }

                &:hover .sub-menu {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }


        }
    }

    .humburger {
        cursor: pointer;

        svg {
            display: flex;
            color: $secondary-color;
        }
    }

    @media (max-width: 1000px) {
        &__logo {
            a img {
                width: 200px;
            }
        }

        &__nav {
            display: none;

            &--open {
                display: block;
            }
        }

        .header__wrap {
            .header__toggle {
                display: block;
            }
        }

        .humburger {
            display: none;
        }
    }

    @media (max-width: 600px) {
        .header-top-wrap .header-top-message {
            font-size: 12px;
        }
    }

    @media (max-width: 450px) {
        .header-top-wrap .header-top-message {
            font-size: 11px;
        }
    }

    @media (max-width: 400px) {
        .header-top-wrap .header-top-message {
            font-size: 10px;
        }
    }
}