$primary-color: #00a3a5;
$secondary-color: #333333;
$background-color: #f6f6f6;

$gray-400:#ababab;
$gray-500:#696969;
$gray-800:#333333;

$bs-white:#ffffff;
$bs-black:#000000;

$border-gray-200:#ededed;

// Typography
$font-family: 'Inter', sans-serif; 
$font-size-base: 16px;
$line-height-base: 1.5;

// Spacing
$spacing-unit: 8px; 