$shadowColor: rgba(0,0,0,1);

.shape1-svg {
  filter: drop-shadow(-7px 7px 10px $shadowColor);
}

.shape2-svg {
  filter: drop-shadow(-2px 5px 8px $shadowColor);
}

.shape3-svg {
  filter: drop-shadow(-5px 6px 7px $shadowColor);
}

.shape-item {
  position: absolute;
}

.shape-1 {
  left: -290px;
  top: 160px;

  .shapeSVGHexagon {
    width: 450px;
    animation: shape_one 10s infinite alternate ease-in-out;
  }
}

@keyframes shape_one {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100px);
  }
}

.shape-2 {
  left: -220px;
  top: 120px;

  .shapeSVGHexagon {
    width: 300px;
    animation: shape_two 15s infinite alternate ease-in-out;
  }
}

@keyframes shape_two {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(50px);
  }
}

.shape-3 {
  left: -150px;
  top: -320px;

  .shapeSVGHexagon {
    width: 500px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_three 25s infinite alternate ease-in-out;
  }
}

@keyframes shape_three {
  100% {
    transform: rotate(360deg);
  }
}

.shape-4 {
  left: 150px;
  top: 170px;

  .shapeSVGHexagon {
    width: 150px;
    animation: shape_four 20s infinite alternate;
  }
}

@keyframes shape_four {
  0% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(0.5) translateY(-50px);
  }
}

.shape-5 {
  left: 185px;
  top: 315px;

  .shapeSVGHexagon {
    width: 150px;
    animation: shape_five 25s infinite alternate ease-in-out;
  }
}

@keyframes shape_five {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100px);
  }
}

.shape-6 {
  left: 35px;
  top: 380px;

  .shapeSVGHexagon {
    width: 60px;
    animation: shape_six 15s infinite alternate ease-in-out;
  }
}

@keyframes shape_six {
  0% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(1.3) translateY(100px);
  }
}

.shape-7 {
  left: 70px;
  top: 545px;

  .shapeSVGHexagon {
    width: 60px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_seven 40s infinite alternate ease-in-out;
  }
}

@keyframes shape_seven {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 100px);
  }

  50% {
    transform: translate(100px, 0) rotate(360deg) scale(1.5);
  }

  100% {
    transform: translate(0, 0);
  }
}

.shape-8 {
  left: -50px;
  top: 540px;

  .shapeSVGHexagon {
    width: 100px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_eight 5s infinite alternate ease-in-out;
  }
}

@keyframes shape_eight {
  100% {
    transform: rotate(360deg);
  }
}

.shape-9 {
  left: -55px;
  top: -35px;

  .shapeSVGHexagon {
    width: 130px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_nine 15s infinite linear;
  }
}

@keyframes shape_nine {
  100% {
    transform: rotate(-360deg);
  }
}

.shape-10 {
  left: 150px;
  top: -70px;
  z-index: 1;

  .shapeSVGHexagon {
    width: 140px;
    animation: shape_ten 5s infinite alternate ease-in-out;
  }
}

@keyframes shape_ten {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(50px);
  }
}

.shape-11 {
  left: 185px;
  top: -85px;

  .shapeSVGHexagon {
    width: 250px;
    animation: shape_eleven 30s infinite alternate ease-in-out;
  }
}

@keyframes shape_eleven {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-130px);
  }
}

.shape-12 {
  left: 340px;
  top: 90px;

  .shapeSVGHexagon {
    width: 60px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_twelve 30s infinite reverse ease-in-out;
  }
}

@keyframes shape_twelve {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(100px, 0);
  }

  50% {
    transform: translate(100px, 100px) rotate(180deg);
  }

  100% {
    transform: translate(0, 0);
  }
}

.shape-13 {
  left: 500px;
  top: -125px;

  .shapeSVGHexagon {
    width: 170px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_thirteen 15s infinite reverse cubic-bezier(1, 0.2, 0.25, 1);
  }
}

@keyframes shape_thirteen {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  25% {
    transform: translateY(200px) rotate(0deg);
  }

  50% {
    transform: translateY(0) rotate(360deg);
  }

  75% {
    transform: translateY(0) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

.shape-14 {
  left: 635px;
  top: 15px;

  .shapeSVGHexagon {
    width: 60px;
    animation: shape_fourteen 5s infinite alternate ease-in-out;
  }
}

@keyframes shape_fourteen {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}

.shape-15 {
  right: -400px;
  bottom: -430px;

  .shapeSVGHexagon {
    width: 800px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_fifteen 30s infinite alternate ease-in-out;
  }
}

@keyframes shape_fifteen {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.shape-16 {
  right: 80px;
  bottom: 190px;

  .shapeSVGHexagon {
    width: 250px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_sixteen 15s infinite alternate ease-in-out;
  }
}

@keyframes shape_sixteen {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  100% {
    transform: translateY(-160px) rotate(360deg) scale(0.6);
  }
}

.shape-17 {
  right: -45px;
  top: 160px;

  .shapeSVGHexagon {
    width: 130px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_seventeen 10s infinite alternate ease-in-out;
  }
}

@keyframes shape_seventeen {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  100% {
    transform: translateY(160px);
  }
}

.shape-18 {
  right: -140px;
  top: -20px;

  .shapeSVGHexagon {
    width: 200px;
    animation: shape_eighteen 15s infinite alternate ease-in-out;
  }
}

@keyframes shape_eighteen {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80px);
  }
}

.shape-19 {
  right: 100px;
  top: -170px;

  .shapeSVGHexagon {
    width: 300px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_nineteen 5s infinite alternate ease-in-out;
  }
}

@keyframes shape_nineteen {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-80px);
  }
}

.shape-20 {
  right: 400px;
  bottom: 30px;

  .shapeSVGHexagon {
    width: 250px;
  }

  > span,
  .shapeSVGHexagon {
    animation: shape_twenty 10s infinite alternate ease-in-out;
  }
}

@keyframes shape_twenty {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50px);
  }
}
